{% extends 'base.html' %}

{% block content %}
<style>
    /* .details {
        margin: auto;
        background: #f2f2f2;
        padding: 3rem;
        border-radius: 12px;
        box-shadow: 12px 13px 15px rgba(127, 137, 161, 0.25);
        ;
    }

    .details:hover {
        box-shadow: 8px 7px 15px rgba(127, 137, 161, 0.25);
    } */
</style>

<!-- /.container -->
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item" id="users" onclick="user_show()">
            <a class="nav-link " href="#">User Details</a>
        </li>
        <li class="nav-item" id="rent" onclick="rental_show()">
            <a class="nav-link " href="#">Rentals</a>
        </li>
        <li class="nav-item" id="sale" onclick="sale_show()">
            <a class="nav-link" href="#">Sale</a>
        </li>
        <li class="nav-item" id="payment" onclick="pay_show()">
            <a class="nav-link" href="#">Payments</a>
        </li>
        <li class="nav-item" id="app" onclick="app_show()">
            <a class="nav-link " href="#">Appointments</a>
        </li>
    </ul>

    <div id='user' style="padding:3rem;background-color: #f2f2f2;">
        <div class="details">
            <h1>User details</h1>
            <p>Name: {{request.user.username}}</p>
            <p>Address: {{request.user.address}}</p>
            <p>Phone Number: {{request.user.ph_no}}</p>
            <p>Is a property owner: {% if request.user.is_ppty_owner %}Yes {% else %} No {% endif %}</p>
            <p>Is a Tenant: {% if request.user.is_tenant %}yes {% else %} No {% endif %}</p>

        </div>

    </div>

    <div id="rental-section" style="display:none; background: #f2f2f2;padding:3rem;">
        {% if rental_house %}
        <div class="details">
            <h1>Your rental house </h1>
            {{ rental_house.property }}
            {% if rent_status %}
            <p>Rent paid </p>
            {% else %}
            <a href="{% url 'payment_rent' %}">Pay rent for the month</a>
            {% endif %}
            <hr style="background-color: black;">
        </div>
        {% else %}
        <p>You aren't a tenant. Register as a tenant here</p>
        {% endif %}

        {% if unoccupied_houses %}
        <h1>All your properties for rent (Unoccupied)</h1>
        {% for property in unoccupied_houses %}
        {{property.property_name}}
        <br>


        <a href="{% url 'property_rent_detail' property.id %}">more info</a>
        <br>
        <a href="#" data-toggle="modal" data-target="#myModal{{property.id}}rent">Remove Listing in the page</a>
        <br>
        {% if property.has_maintainer %}
        <a href="{% url 'maintainer_info' property.id %}">maintainer information</a>
        {% else %}
        <a href="{% url 'maintainers' property.id %}">Add a maintainance personal</a>
        {% endif %}
        <!-- modal for removing the property from listing  -->
        <div class="modal fade" id="myModal{{property.id}}rent" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Property information</h4>
                    </div>
                    <div class="modal-body">
                        are you sure you want to remove <span
                            style="color:yellow; background:red;">{{property.property_name}}</span>
                        <form action="{% url 'remove_rental_property'  property.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Confirm removal of listing</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <br>
        <hr>
        {% endfor %}
        {% else %}
        <p>You don't have any houses registered for rent. Register here.</p>
        {% endif %}

        {% if tenants %}
        <h1>Tenants that are staying in your property</h1>
        {% for tenant in tenants %}
        {{tenant.tenant}}
        <br>
        {{tenant.start_date}}
        <br>
        {{tenant.property.rent}}
        <br>
        <a href="{% url 'remove_tenant' tenant.id %}">Remove Tenant</a><br>
        <a href="{% url 'tenant_detail' tenant.id %}">More information</a><br>
        <form action="{% url 'message' tenant.id %}" method="GET">
            {% csrf_token %}
            <button type="submit">Message on WhatsApp</button>
        </form>



        <hr style="background-color: black;">

        {% endfor %}
        {% endif %}
    </div>
    <div id="sale-section" style="display:none ; background: #f2f2f2;padding:3rem;">

        {% if houses %}
        <h1>Properties registered for sale</h1>
        {% for house in houses %}
        <p>{{house.address}}</p>

        <a href="#" type="button" class="" data-toggle="modal" data-target="#myModal{{house.id}}">More information</a>
        <br>
        <a href="#" data-toggle="modal" data-target="#myModal{{house.id}}sale">Remove Listing in the page</a>
        <hr>
        <div class="modal fade" id="myModal{{house.id}}" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Property information</h4>
                    </div>
                    <div class="modal-body">
                        <p>Full Address: {{house.address}}</p>
                        <p>Dimensions: {{house.width}}*{{house.length}}</p>
                        <p>Cost per Sqft: {{house.cost_sqft}}</p>
                        <p>Ceritification: {{house.ceritification}}-Khata</p>
                        <p>Description: {{house.description | linebreaks }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- modal for removing sale property  -->
        <div class="modal fade" id="myModal{{house.id}}sale" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Property information</h4>
                    </div>
                    <div class="modal-body">
                        are you sure you want to remove <span
                            style="color:yellow; background:red;">{{house.address}}</span>??
                        <form action="{% url 'remove_sale_property'  house.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Confirm removal of listing</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>You don't have any properties registered for sale. Register here.</p>
        {% endif %}
    </div>
    <div id="Payments" style="display:none ; background: #f2f2f2;padding:3rem;">
        <h1>Rent Payments detail</h1>
        {% if rents %}
        {% for rent in rents %}
        <p>Name - {{rent.sender}} </p>
        <p>transaction_id - {{rent.transaction_id}}</p>
        <p>month of - {{rent.month_of}}</p>
        <p>Status - successful</p>
        <hr>
        {% endfor %}
        {% else %}
        <p>No transactions made for this month.</p>
        {% endif %}
    </div>
    <div id="Appointments" style="display:none ; background: #f2f2f2;padding:3rem;">
        <h1>Appointments coming up for sale </h1>
        {% if appointments %}
        {% for appointment in appointments %}
        <p>Visitor Username: {{appointment.user}}</p>
        <p>Property: {{appointment.property}}</p>
        <p>Time: {{appointment.time_appointment}}</p>
        <p>Date: {{appointment.date_appointement}}</p>
        <hr>
        {% endfor %}
        {% else %}
        <p>No Visits for your property for sale</p>
        {% endif %}
        <h1>Upcoming visits to your rental properties</h1>
        {% if visit %}

        {% for vis in visit %}

        <p>Visitor Username: {{vis.visitor}}</p>
        <p>Property: {{vis.property}}</p>
        <p>Time: {{vis.time_appointment}}</p>
        <p>Date: {{vis.date_appointement}}</p>
        <hr>
        {% endfor %}
        {% else %}
        <p>No Visits for your property for rent</p>
        {% endif %}
    </div>

</div>

<script>
    let rent = document.getElementById('rental-section');
    let sales = document.getElementById('sale-section');
    let payments = document.getElementById('Payments');
    let app = document.getElementById('Appointments');
    let user = document.getElementById('user');


    function user_show() {
        user.style.display = "block";
        rent.style.display = "none";
        sales.style.display = "none";
        payments.style.display = "none";
        app.style.display = "none";
    }


    function rental_show() {
        rent.style.display = "block";
        sales.style.display = "none";
        payments.style.display = "none";
        app.style.display = "none";
        user.style.display = "none";
    }
    function sale_show() {
        rent.style.display = "none";
        sales.style.display = "block";
        payments.style.display = "none";
        app.style.display = "none";
        user.style.display = "none";
    } function app_show() {
        rent.style.display = "none";
        sales.style.display = "none";
        payments.style.display = "none";
        app.style.display = "block";
        user.style.display = "none";
    } function pay_show() {
        rent.style.display = "none";
        sales.style.display = "none";
        payments.style.display = "block";
        app.style.display = "none";
        user.style.display = "none";
    }

</script>

<!-- <h1>user details</h1>
<p>{{request.user.username}}</p>
{% if request.user.is_ppty_owner %}
<p>Total number of houses for rent : {{total_properties_rent}}</p>
<p>Number of houses currently occupied: {{no_properties_occupied}}</p>
<p>Number of properties remaining to be occupied: {{no_properties_unoccupied}}</p>
<p>total security deposit in hand: {{total_deposit}} </p>
<p>total rent monthy: {{total_rent}} </p>
<p>Rents left: {{rents_left}}</p>
<p>Rents paid: {{rents_done}}</p>
<p>average rent per house: {{average_rent}} </p>
{% endif %}
<p>number of properties for sale: </p>
<hr style="background-color: black;"> -->
<!-- unoccupied houses for rent -->
<!-- {% if unoccupied_houses %}
<h1>All your properties for rent </h1>
{% for property in unoccupied_houses %}
{{property.property_name}}
<br>
<a href="{% url 'property_rent_detail' property.id %}">more info</a>
<br>
<hr style="background-color: black;">
{% endfor %}
{% endif %} -->
<!-- if the user stays in rented place -->
<!-- {% if rental_house %}
<h1>Your rental house </h1>
{{ rental_house.property }}
{% if rent_status %}
<p>Rent paid </p>
{% else %}
<a href="{% url 'payment_rent' %}">Pay rent for the month</a>
{% endif %}
<hr style="background-color: black;">
{% endif %} -->
<!-- if the user has tenants occupying his property -->
<!-- {% if tenants %}
<h1>Tenants that are staying in your property</h1>
{% for tenant in tenants %}
{{tenant.tenant}}
<br>
{{tenant.start_date}}
<br>
{{tenant.property.rent}}

<br>
<a href="{% url 'remove_tenant' tenant.id %}">Remove Tenant</a><br>
<a href="{% url 'tenant_detail' tenant.id %}">More information</a><br>

<hr style="background-color: black;">

{% endfor %}
<h1>Rent information detail</h1>
{% for rent in rents %}
<p>Name - {{rent.sender}} </p>
<p>transaction_id - {{rent.transaction_id}}</p>
<p>month of - {{rent.month_of}}</p>
<p>Status - successful</p>

{% endfor %}
{% endif %}
<hr>
<h1>Properties registered for sale</h1>
{% if houses %}
{% for house in houses %}
<p>{{house.no}}</p>
<p>{{house.locality}}</p>
<p>{{house.area}}</p>
<p>{{house.state}}</p>
<p>{{house.width}}*{{house.length}}</p>
<p>{{house.cost_sqft}}</p>
<p>{{house.ceritification}}-Khata</p>
<hr>


{% endfor %}
{% endif %}
{% if appointments %}
<h1>Appointments coming up</h1>
{% for appointment in appointments %}
{{appointment.date_appointement}}
{% endfor %}
{% endif %}

{% if visit %}
<h1>Upcoming visits to your rental properties</h1>
{% for vis in visit %}
{{vis.property}}
{{vis.visitor}}
{{vis.date_appointement}}
{{vis.time_appointment}}
{% endfor %}
{% endif %} -->

{% endblock %}